.header {
  font-size: 24px;
  font-family: Merriweather;
  font-weight: bold;
}

.meetingGroup {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.meetingGroupContainer {
  padding: 20px;
}
