.meeting-date {
  background-color: #035c85;
  color: #fff;

  &:enabled:hover,
  &:active {
    background-color: #000;
  }
}

.disabled-date:disabled {
  background-color: #fff;
  color: #000;
}

.meetings .slds-card:first-child {
  margin-top: 1rem;
}

.meetings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.popover-body {
  border-radius: 0;
  border-top: #035c85 solid 5px;
  padding: 0 10px;
}

.popover-meeting-header {
  font-weight: bold;
}

.button-styles:focus {
  outline: none;
}
